---
layout: default
imgDir: /img/projects/
---

<!--<section class="blog">-->

  <!--<div class="content-spacing"></div>-->
    <ul class="list">

      {% assign pages = (site.pages | sort: 'pdate') %}
      {% for page in pages reversed %}
        {% if page.category contains 'project' %}
          <div class="project-container" onclick="location.href='{{ page.url | relative_url }}';">

            <!-- First Part, Title and Date -->
            <div class="flex-row">
              <div class="flex1">
                <h4>
                  <a href="{{ page.url | relative_url }}" role="link">{{ page.title | escape }}</a>
                </h4>
              </div>

              <div class="flex-hori-end-child">
                <p class="project-date"> {{ page.pdate | date: "%B %Y" }} </p>
              </div>
            </div>
            
            <!-- Second Part, Img, and disc -->
            <div class="project-items flex-center">
              <img class="thumbnail" src="{{page.imgDir}}/splash.png" alt="{{page.title}} splash image">

              <div class="flex-col-center">
                <p>
                <!--{{ page.content | strip_html | escape | truncatewords: 80 }}-->
                {{ page.description }}
                </p>

                <!--TAGS LOOP-->
                <div class="flex-row flex-hori-start-child">
                  {% for tags in page.tags %}
                  <!-- <a href="{{ site.url }}/filter/{{ tags }}.html "class="tags"> -->
                    <div class="tags">
                      {{ tags }}
                    </div>

                  <!-- </a> -->
                  {% endfor %}
                </div>
              </div>

            </div>

            <!--<div class="content-spacing"></div>-->
          </div>

        {% endif %}
      {% endfor %}
    </ul>

  <div class="content-spacing"></div>
  <!--<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}" role="link">via RSS</a></p>-->
<!--</section>-->
